body {
    background: #f4f6f9;
    font-family: "Poppins", sans-serif;
}

/* NAVBAR */
.navbar {
    background: #003366;
    padding: 15px 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    border-bottom: 3px solid #ffcc00;
}
.navbar-brand {
    font-size: 26px;
    font-weight: 700;
    color: #fff !important;
    letter-spacing: 1px;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    gap: 10px;
}
.navbar-brand img {
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 30%;
}

.nav-link {
    color: #ffffff !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    padding: 10px 18px !important;
    border-radius: 6px;
    transition: 0.25s ease !important;
    
}
.nav-link:hover {
    background: #ffcc00 !important;
    color: #003366 !important;
    box-shadow: 0 0 10px rgba(255, 204, 0, 0.9);
}

/* TOP BANNER */
.top-banner {
    background: #003366;
    color: white;
    text-align: center;
    padding: 50px 20px;
}
.top-banner h1 {
    font-size: 40px;
    font-weight: 700;
}

/* SECTION TITLES */
.section-header {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 20px;
}
.section-header h2 {
    font-size: 28px;
    font-weight: 700;
    color: #003366;
}

.old-resault-heading{
    padding-bottom: 10px;

}

.callender-icon{
    padding: 11px;
}

/* RESULT CARDS */
.result-card {
    border-left: 5px solid #003366;
    background: white;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.07);
    transition: 0.3s;
}
.result-card:hover {
    transform: translateY(-4px);
    box-shadow: 0px 5px 14px rgba(0,0,0,0.12);
}
.result-title {
    font-size: 26px;
    font-weight: 700;
    color: #003366;
}
.result-time {
    font-size: 26px;
    font-weight: bold;
    color: #444;
    margin-bottom: 10px;
}
.draw-number {
    font-size: 22px;
    font-weight: 700;
    color: #d41f1f;
}
.download-btn {
    background: #003366;
    color: white;
    padding: 7px 15px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
}
.download-btn:hover {
    opacity: 0.9;
}


/* INNER PAGE HERO */
.inner-banner {
    background: #003366;
    color: white;
    padding: 55px 20px;
    text-align: center;
}
.inner-banner h1 {
    font-size: 38px;
    font-weight: 700;
}

/* CONTENT AREA */
.content-box {
    background: white;
    padding: 30px;
    margin-top: 40px;
    border-radius: 6px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.08);
    border-left: 5px solid #003366;
}

        
/* FOOTER */
footer {
    background: #002244;
    color: #ccc;
    padding: 35px 0;
    text-align: center;
    margin-top: 40px;
}

/* =========================
   Breakpoints 
   ========================= */
@media (max-width: 640px){ /* sm */
 .navbar-brand{
    font-size: 16px;
 }
 .filter-section{
    width: 98%;
 }
}